*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    }
  header{
    width: 100%;
    background-color: #7703fc; 
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    padding: 20px 0; 
  }
  .container-logo{ 
    display: flex;
    align-items: center; 
  } 
  
  .logo-texto{
    margin-left: 25px;
    color: black; 
  }
  .menu li{
    display: inline-block;
    margin: 0 10px; 
  }
  .menu li a{
    font-size: 24px; 
    text-decoration: none; 
    color: black; 
    text-transform: uppercase; 
    padding: 10px 15px;
    border-radius: 20px; 
  }
  .menu li a:hover{
    background-color: rgba(100, 100, 100, 0.5); 
  }